<div
  *ngIf="detail.image"
  style="float:right;">
  <img src="/assets/missions/{{ detail.image }}" width="250">
</div>
<form #form="ngForm" novalidate>
  <div>
    Title:
    <input type="text"
      name="name"
      #name
      [ngModel]="detail.name">
  </div>
  <div>
    Launch date:
    <input type="text"
      name="launch_date"
      [ngModel]="detail.launch_date">
  </div>
  <div>
    Return date:
    <input type="text"
      name="end_date"
      [ngModel]="detail.end_date">
  </div>
  <div>
    Summary:
    <textarea cols="50" rows="5"
      #summary="ngModel"
      name="summary"
      required
      [ngModel]="detail.summary">
      </textarea>
      <div *ngIf="summary.errors?.required && summary.dirty">
        Summary required
      </div>
  </div>
  <div>
    Reference link:
    <input type="text"
      name="wiki_href"
      [ngModel]="detail.wiki_href">
  </div>
  <div>
    <div *ngIf="detail.crew && detail.crew.length > 0">
      Crew:
      <div class="container">
        <div class="crew" *ngFor="let crew of detail.crew">
          <h3>{{ crew.role }}</h3>
          <app-astronaut-viewer [astronautId]="crew.astronaut_id"></app-astronaut-viewer>
        </div>
      </div>
    </div>
  </div>
  <div>
    Add Crew:
    <select
      (change)="onCrewChange($event.target.value)">
      <option value="">-- select crew role --</option>
      <option
        *ngFor="let role of crewRoles"
        [value]="role">{{ role }}</option>
    </select>
    <select
      (change)="onAstronautChange($event.target.value)">
      <option value="">-- select astronaut --</option>
      <option
        *ngFor="let astronaut of astronauts"
        [value]="astronaut.id">{{ astronaut.last_name }}, {{ astronaut.first_name }}</option>
    </select>
    <button (click)="onAddAstronaut()">add</button>
  </div>
</form>

<div>{{ form.value | json }}</div>
<div>Valid: {{ form.valid | json }}</div>
<div>Invalid: {{ form.invalid | json }}</div>
